-var msgs = []

-msgs.push("832: Mission for ###. CP @ ###. Sign in @ http://respond.kcesar.org")
-msgs.push("832: Teams with subject. No further resources needed.")
-msgs.push("832: More responders needed! Sign in @ http://respond.kcesar.org")
-msgs.push("832: See email for mission details")
-msgs.push("831: Available van driver call Comms @ ")
-msgs.push("000: Mission complete. Thanks to all responders. Remember to sign out w/time & miles @ http://respond.kcesar.org ")
-msgs.push("000: Subject at base. Thanks to all responders. Remember to sign out w/time & miles @ http://respond.kcesar.org ")
-msgs.push("000: TURNAROUND FOR #####. Remember to sign out w/time & miles @ http://respond.kcesar.org ")
-msgs.push("HH:MM Responders:## total. TLs=###, TMs=###, VD=###.")
